{% extends 'admin/bas.html' %}

{% block title %}Edit variant{% endblock %}

{% block content %}
  <h1>Edit Variant for {{ variant.product.title }}</h1>
  <form method="post">
    {% csrf_token %}
    <label>Weight:</label>
    <input type="text" name="weight" value="{{ variant.weight }}" required>
    
    <label>Price:</label>
    <input type="number" name="price" step="0.01" value="{{ variant.price }}" required>
    
    <label>Stock:</label>
    <input type="number" name="stock" value="{{ variant.stock }}">
    
    <label>SKU:</label>
    <input type="text" name="sku" value="{{ variant.sku }}">
    
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}